settings-popover {
  .heading-grid {
    border-bottom: 5px solid $primary;

    #popover-toggle-item{
      padding: 0;

      .item-inner {
        border-bottom: none;
      }
    }

  }
  .popover-filters-list {
    overflow-y: scroll;
    height: 70vh;
  }
}
