<ion-grid class="heading-grid">
  <ion-row>
    <ion-col col-9>
      <ion-item id="popover-toggle-item">
        <ion-label text-center>Filtry</ion-label>
        <ion-toggle color="secondary-dark" [(ngModel)]="filterEnabled"></ion-toggle>
      </ion-item>
    </ion-col>
    <ion-col col-3>
      <button
        ion-button
        outline
        icon-only
        color="light"
        (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-list class="popover-filters-list">

  <ion-item-group>
    <ion-item-divider
      text-center
      color="primary-light">
      Data
    </ion-item-divider>

    <ion-item>
      <ion-label>Od:</ion-label>
      <ion-datetime
        disabled="{{!filterEnabled}}"
        displayFormat="DD-MM-YYYY"
        pickerFormat="DD/MM/YYYY"
        [(ngModel)]="dateFilterFrom"
        (ionChange)="changeDate()"
        max="2018-12-31"
        min="{{now}}">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Do:</ion-label>
      <ion-datetime
        disabled="{{!filterEnabled}}"
        displayFormat="DD-MM-YYYY"
        pickerFormat="DD/MM/YYYY"
        [(ngModel)]="dateFilterTo"
        (ionChange)="changeDate()"
        max="2018-12-31"
        min="{{dateFilterFrom}}">
      </ion-datetime>
    </ion-item>
  </ion-item-group>

  <ion-item-group *ngFor="let f of filters">
    <ion-item-divider
      text-center
      color="primary-light">
      {{f.description}}
    </ion-item-divider>

    <ion-item *ngFor="let v of f.values">
      <ion-label>{{v.name}}</ion-label>
      <ion-checkbox [(ngModel)]="v.checked" disabled="{{!filterEnabled}}"></ion-checkbox>
    </ion-item>
  </ion-item-group>

</ion-list>
