<ion-header>
  <ion-navbar color="secondary-dark">
    <ion-title>Lista wydarzeń</ion-title>
    <ion-buttons end *ngIf="!noFilters">
      <button ion-button icon-only (click)="openSettingsPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list text-wrap>

    <ion-list-header
      color="secondary-light"
      text-center>
      <ion-row>
        <ion-col
          col-6
          ion-button
          clear="true"
          small="true"
          color="white"
          (click)="sortBy('city')">
          Miejsce
          <ion-icon
            class="sort-icon"
            *ngIf="sortByCity"
            margin-start
            name="{{sortByCity === 'asc' ? 'arrow-down' : 'arrow-up'}}">
          </ion-icon>
        </ion-col>
        <ion-col
          col-6
          ion-button
          clear="true"
          small="true"
          color="white"
          (click)="sortBy('date')">
          Data
          <ion-icon
            class="sort-icon"
            *ngIf="sortByDate"
            margin-start
            name="{{sortByDate === 'asc' ? 'arrow-down' : 'arrow-up'}}">
          </ion-icon>
        </ion-col>
      </ion-row>
    </ion-list-header>

    <!--Filtering Enabled Info Row-->
    <ion-row *ngIf="filterEnabled" class="filter-enabled-info">
      <ion-col text-center>
        Filtrowanie włączone
      </ion-col>
    </ion-row>

    <!--list content-->
    <ion-item
      *ngIf="!events.length && filterEnabled"
      text-center>
      Wygląda na to, że nie ma żadnych wydarzeń dla Twoich kryteriów filtrowania.
    </ion-item>
    <button
      ion-item
      *ngFor="let el of events | orderBy: orderPhrase: (sortByDate || sortByCity)"
      (click)="selectEvent($event, el.event.id)">
      <h2>{{el.event.name}}</h2>
      <ion-icon float-start name="star"color="danger" class="favorite-icon" *ngIf="el.followed"></ion-icon>
      <p float-start>{{el.event.details.city}}</p>
      <p float-end margin-right>{{el.event.dateTime.dateTimeStart}}</p>
    </button>

  </ion-list>
</ion-content>
