<ion-header>
  <ion-navbar color="secondary-light">
    <ion-title>Szczegóły</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goHome()">
        <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-header
      text-center
      text-wrap>
      {{event.event.name}}
    </ion-card-header>

    <ion-card-content>

      <ion-grid>

        <ion-row>
          <ion-col width-50 text-left>
            <ion-icon name="locate" ios="ios-locate-outline" class="margin-right-smaller"></ion-icon>
            <span>Miejsce:</span>
          </ion-col>
          <ion-col width-50 text-right>
            <span class="datetime-details">{{event.location.name}}</span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col width-50 text-left>
            <ion-icon name="move" ios="ios-move-outline" class="margin-right-smaller"></ion-icon>
            <span>Adres:</span>
          </ion-col>
          <ion-col width-50 text-right>
            <span class="datetime-details">{{event.location.address}}</span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col width-50 text-left>
            <ion-icon name="calendar" ios="ios-calendar" class="margin-right-smaller"></ion-icon>
            <span>Data:</span>
          </ion-col>
          <ion-col width-50 text-right>
            <span class="datetime-details">{{dateStart}}</span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col width-50 text-left>
            <ion-icon name="time" ios="ios-time-outline" class="margin-right-smaller"></ion-icon>
            <span>Rozpoczęcie:</span>
          </ion-col>
          <ion-col width-50 text-right>
            <span class="datetime-details">{{timeStart}}</span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col width-50 text-left>
            <ion-icon name="time" ios="ios-time-outline" class="margin-right-smaller"></ion-icon>
            <span>Zakończenie:</span>
          </ion-col>
          <ion-col width-50 text-right>
            <span class="datetime-details">{{timeEnd}}</span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col width-50 text-left>
            <ion-icon name="medal" ios="ios-medal-outline" class="margin-right-smaller"></ion-icon>
            <span>Dyscyplina:</span>
          </ion-col>
          <ion-col width-50 text-right>
            <span class="datetime-details">{{event.event.details.sportType}}</span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col width-50 text-left>
            <ion-icon name="expand" ios="ios-expand-outline" class="margin-right-smaller"></ion-icon>
            <span>Wielkość:</span>
          </ion-col>
          <ion-col width-50 text-right>
            <span class="datetime-details">{{event.event.details.eventSize}}</span>
          </ion-col>
        </ion-row>


        <!--BUTTONS-->
        <ion-row margin-top>
          <ion-col>
            <button
              ion-button
              outline
              full (click)="showMap()">
              <ion-icon name="map" ios="ios-map-outline" margin-right></ion-icon>
              Pokaż na mapie
            </button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col *ngIf="!isFollowed">
            <button
              ion-button
              color="danger"
              outline
              full
              (click)="toggleFollow()">
              <ion-icon name="star-outline" margin-right></ion-icon>
              Dodaj do obserwowanych
            </button>
          </ion-col>
          <ion-col *ngIf="isFollowed">
            <button
              ion-button
              color="danger"
              outline
              full
              (click)="toggleFollow()">
              <ion-icon name="star" margin-right></ion-icon>
              Usuń z obserwowanych
            </button>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-card-content>
  </ion-card>
</ion-content>
