<ion-header>
  <ion-navbar color="primary">
    <ion-title>Dni podróży</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <!--DAYS LIST-->
    <ion-list>
      <ion-item-sliding *ngFor="let el of eventsByDays">
        <ion-item (click)="seeTripForThisDay(el)">
          <h2>Trasa na {{el.dateDay}}<ion-icon float-end name="arrow-forward"></ion-icon></h2>
        </ion-item>

        <ion-item-options side="left">
          <button ion-button color="secondary-light" (click)="seeEventsListForThisTrip(el)">
            Lista <br> wydarzeń
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <!--BUTTONS SECTION-->
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col *ngIf="!isSaved">
            <button
              ion-button
              color="danger"
              outline
              full
              (click)="saveYourTrip()">
              <ion-icon name="bookmark-outline" margin-right></ion-icon>
              Zapisz swoją podróż
            </button>
          </ion-col>
          <ion-col *ngIf="isSaved">
            <button
              ion-button
              color="danger"
              outline
              full
              (click)="removeYourTrip()">
              <ion-icon name="bookmark" margin-right></ion-icon>
              Usuń podróż
            </button>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
