<ion-header>
  <ion-navbar color="primary-light">
    <ion-title>Mapa</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="map-ion-content">
  <ion-fab left bottom>
    <button
      ion-fab
      mini
      (click)="showWay()">
      <ion-icon name="navigate"></ion-icon>
    </button>
  </ion-fab>

  <agm-map
    id="map"
    [latitude]="map.lat"
    [longitude]="map.lng"
    [zoomControl]="true"
    [zoom]="map.zoom"
    [scrollwheel]="true">

    <agm-directions *ngIf="currentPosition && destination" [origin]="currentPosition.coords" [destination]="destination"></agm-directions>
    <agm-marker
      [latitude]="map.lat"
      [longitude]="map.lng">

      <agm-info-window>
        <span>{{map.markerLabel}}</span>
      </agm-info-window>

    </agm-marker>

  </agm-map>
</ion-content>
