// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$primary: #001774;
$primary-light: #12AFED;
$primary-dark: #01052A;
$secondary: #42C031;
$secondary-light: #5EC76B;
$secondary-dark: #0D6101;
$danger: #f53d3d;
$light: #C8C8C8;
$darken: #757575;
$dark: #222;
$white: #fff;

$colors: (
  primary: $primary,
  primary-light: $primary-light,
  primary-dark: $primary-dark,
  secondary: $secondary,
  secondary-light: $secondary-light,
  secondary-dark: $secondary-dark,
  danger: $danger,
  light: $light,
  darken: $darken,
  dark: $dark,
  white: $white
);





// Wallpaper of the Application
// --------------------------------------------------
ion-content {
  background: url('../assets/images/background5.png') no-repeat fixed center;
  background-size: cover;
  &.no-wallpaper {
    background: none;
    background-color: transparent;
  }
}


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
