<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary" menuToggle>
      <ion-title>MENU</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-list-header color="primary-light">Nawigacja</ion-list-header>
      <button ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button >
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
