<ion-header>
  <ion-navbar color="secondary-dark">
    <ion-title>Twoje podróże</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!--NO SAVED TRIPS-->
  <ion-card
    *ngIf="trips.length === 0"
    text-center>
    <ion-card-header>
      Brak zaplanowanych podróży.
    </ion-card-header>
    <ion-card-content>
      <p text-center>
        Nie masz zaplanowanych żadnych podróży.
        Przejdź do widoku obserwowanych wydarzeń, zaplanuj podróż, a następnie ją zapisz.
      </p>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button
              margin-top
              ion-button
              full outline
              (click)="goToMain()">
              <ion-icon name="arrow-back" margin-right></ion-icon>
              Do obserwowanych wydarzeń
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!--SAVED TRIPS EXIST-->
  <ion-list text-wrap>
    <ion-item-sliding *ngFor="let trip of trips">
      <ion-item (click)="goToTrip(trip)">
        <h2>{{trip.tripName}} <ion-icon float-end name="arrow-forward"></ion-icon></h2>
      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="danger" (click)="removeTrip(trip)">
          <ion-icon name="trash"></ion-icon>
          Usuń
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
