<ion-header>
  <ion-navbar text-wrap color="primary-light">
    <ion-title>
      Mapa podróży <br>
      <span class="title-date">{{eventsByDay?.dateDay}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="map-ion-content">
  <ion-fab left bottom>
    <button
      ion-fab
      color="{{showMap ? 'primary-light' : 'primary'}}"
      (click)="showMap = !showMap">
      <ion-icon name="ios-information-circle-outline" [hidden]="!showMap"></ion-icon>
      <ion-icon name="arrow-back" [hidden]="showMap"></ion-icon>
    </button>
  </ion-fab>

  <agm-map
    *ngIf="(dataDownloaded && showMap)"
    id="map"
    [latitude]="map.lat"
    [longitude]="map.lng"
    [zoomControl]="true"
    [zoom]="map.zoom"
    [scrollwheel]="true">
    <agm-waypoints
      [origin]="currentPosition"
      [destination]="destination"
      [waypoints]="waypoints">
    </agm-waypoints>
  </agm-map>

  <div class="info-panel-wrapper" [hidden]="showMap">
    <div id="info-panel">
      <h4 text-center>Szczegóły Twojej podróży</h4>
      <h5 text-center>{{eventsByDay.dateDay}}</h5>
    </div>
  </div>
</ion-content>
