<ion-header>
  <ion-navbar color="primary-light">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Moje wydarzenia</ion-title>
  </ion-navbar>
</ion-header>

<ion-content text-center>

  <!--NO FOLLOWED EVENTS-->
  <ion-card *ngIf="followedEvents.length === 0"
            text-center>

    <ion-card-header color="primary-color">
      Brak obserwowanych wydarzeń.
    </ion-card-header>

    <ion-card-content>
      <p text-center>
        Nie obserwujesz żadnych wydarzeń sportowych.
      </p>
      <p text-center>
        Wybierz wydarzenie z listy, a następnie dodaj je do obserwowanych.
      </p>

      <ion-grid>
        <!--= COMMON =-->
        <ion-row>
          <ion-col>
            <button margin-top
                    ion-button
                    full outline
                    (click)="goToEventsList()">
              Nadchodzące wydarzenia
              <ion-icon name="search" margin-left></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>



    </ion-card-content>
  </ion-card>

  <!--FOLLOWED EVENTS EXIST-->
  <ion-card *ngIf="followedEvents.length > 0"
            text-center>


    <ion-list text-wrap>

      <ion-list-header
        color="secondary-light"
        text-center>
        <ion-row>
          <ion-col
            col-6
            ion-button
            clear="true"
            small="true"
            color="white"
            (click)="sortBy('city')">
            Miejsce
            <ion-icon
              class="sort-icon"
              *ngIf="sortByCity"
              margin-start
              name="{{sortByCity === 'asc' ? 'arrow-down' : 'arrow-up'}}">
            </ion-icon>
          </ion-col>
          <ion-col
            col-6
            ion-button
            clear="true"
            small="true"
            color="white"
            (click)="sortBy('date')">
            Data
            <ion-icon
              class="sort-icon"
              *ngIf="sortByDate"
              margin-start
              name="{{sortByDate === 'asc' ? 'arrow-down' : 'arrow-up'}}">
            </ion-icon>
          </ion-col>
        </ion-row>
      </ion-list-header>

      <ion-item color="light" *ngIf="allowCheckEvents">
        <ion-checkbox (click)="checkAllEvents()" [(ngModel)]="allEventsChecked" color="darken"></ion-checkbox>
        <ion-label *ngIf="!allEventsChecked" color="primary-dark"><strong>ZAZNACZ WSZYSTKIE</strong></ion-label>
        <ion-label *ngIf="allEventsChecked" color="primary-dark"><strong>ODZNACZ WSZYSTKIE</strong></ion-label>
      </ion-item>

        <ion-item-sliding *ngFor="let el of followedEvents | orderBy: orderPhrase: (sortByDate || sortByCity)">
          <ion-item (click)="selectEvent($event, el.event.id)" color="{{allowCheckEvents && el.overlaps ? 'danger' : ''}}">
            <ion-checkbox (ionChange)="uncheckAllEvents($event)" [(ngModel)]="el.toTrip" color="dark" *ngIf="allowCheckEvents"></ion-checkbox>
            <ion-label>
              <h2>{{el.event.name}}</h2>
              <p float-start>{{el.event.details.city}}</p>
              <p float-end margin-right>{{el.event.dateTime.dateTimeStart}}</p>
            </ion-label>
          </ion-item>

          <ion-item-options side="left">
            <button ion-button color="danger" (click)="unfollowEvent(el)">
              <ion-icon name="trash"></ion-icon>
              Usuń
            </button>
          </ion-item-options>
        </ion-item-sliding>


    </ion-list>


    <ion-card-content>

      <ion-grid>

        <!--= COMMON =-->
        <ion-row>
          <ion-col>

            <button margin-top
                    ion-button
                    full outline
                    (click)="goToEventsList()">
              Nadchodzące wydarzenia
              <ion-icon name="search" margin-left></ion-icon>
            </button>
          </ion-col>
        </ion-row>

        <!--PLAN YOUR TRIP-->
        <ion-row *ngIf="!allowCheckEvents">
          <ion-col>
            <button color="secondary-dark"
                    ion-button
                    full outline
                    (click)="planYourTrip()">
              Zaplanuj swoją podróż
              <ion-icon name="navigate" ios="ios-navigate-outline" margin-left></ion-icon>
            </button>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="allowCheckEvents">
          <ion-col col-6>
            <button color="danger"
                    ion-button
                    full outline
                    (click)="cancelTripPlanning()">
              <ion-icon large name="close-circle" ios="ios-close-circle-outline" margin-right></ion-icon>
              Przerwij
            </button>
          </ion-col>
          <ion-col col-6>
            <button color="secondary-dark"
                    ion-button
                    full outline
                    (click)="validateEvents()">
              Dalej
              <ion-icon large name="arrow-dropright" margin-left></ion-icon>
            </button>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-card-content>
  </ion-card>

  <agm-map></agm-map>

</ion-content>
